<link rel="import" href="../polymer/polymer-element.html">



<dom-module id="my-login-martin">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Bienvenido</h1>

    <form name="form1">

              <!-- Username -->
              <label  for="name">Username:</label >

              <input value="{{user1::input}}" type="text" name="user1" >
              <div>
              <!-- Password -->
              <label for="username">Password:</label>

              <input value="{{pass1::input}}" type="password" name="pass1" >
              </div>
              <div>

                  <!-- Submit Button -->
                  <button    on-click="login"  >Login</button>


              </div>
          </form>



  </template>


  <!--<SCRIPT >
  function go(){
  if (document.form1.pass.value=='CONTRASEÑA' && document.form1.user.value=='USUARIO'){
          alert("Acceso correcto.");
          /*document.form.submit();*/
      }
      else{
           alert("Porfavor ingrese, nombre de usuario y contraseña correctos.");
      }
  }
  </SCRIPT>-->

  <script>
    /**
     * `my-login-martin`
     * login martin
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MyLoginMartin extends Polymer.Element {
      static get is() { return 'my-login-martin'; }


      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'my-login-martin'
          },

          user1: {
            type: String,
            value: ''
          },

          pass1: {
            type: String,
            value: ''
          },

//        pcomputada: {

  //      value: 'login(user1, pass1)'
        


        };
      }

      login (user1, pass1){

        if (this.pass1=='CONTRASENA' && this.user1=='USUARIO'){
                alert("Acceso correcto.");

            }
            else{
                 alert("Porfavor ingrese, nombre de usuario y contraseña correctos.");
            }

        }



    }

    window.customElements.define(MyLoginMartin.is, MyLoginMartin);
  </script>
</dom-module>
